# Ashyq Bilim Configuration

# Backend URLs
NEXT_PUBLIC_PLATFORM_API_URL=http://localhost:1338/api/v1/
NEXT_PUBLIC_PLATFORM_BACKEND_URL=http://localhost:1338/
NEXT_PUBLIC_PLATFORM_DOMAIN=localhost:3000
NEXT_PUBLIC_PLATFORM_TOP_DOMAIN=localhost
NEXT_PUBLIC_PLATFORM_HTTPS=false

# NextAuth
NEXTAUTH_SECRET="changeme"
NEXTAUTH_URL=http://localhost:3000

# Google OAuth
PLATFORM_GOOGLE_CLIENT_ID="client-id-here"
PLATFORM_GOOGLE_CLIENT_SECRET="client-secret-here"

NEXT_PUBLIC_PLATFORM_MEDIA_URL=""

NEXT_TELEMETRY_DISABLED=1
