# Ashyq Bilim Configuration

# Frontend
NEXT_PUBLIC_PLATFORM_DEFAULT_ORG=openu

# Backend URLs
NEXT_PUBLIC_PLATFORM_API_URL=http://192.168.12.35/api/v1/
NEXT_PUBLIC_PLATFORM_BACKEND_URL=http://192.168.12.35/
NEXT_PUBLIC_PLATFORM_DOMAIN=192.168.12.35
NEXT_PUBLIC_PLATFORM_TOP_DOMAIN=192.168.12.35
NEXT_PUBLIC_PLATFORM_HTTPS=false

# NextAuth
NEXTAUTH_SECRET="secret"
NEXTAUTH_URL=http://192.168.12.35

# Google OAuth
PLATFORM_GOOGLE_CLIENT_ID="secret"
PLATFORM_GOOGLE_CLIENT_SECRET="secret"

NEXT_PUBLIC_UNSPLASH_ACCESS_KEY="secret"

NEXT_PUBLIC_PLATFORM_MEDIA_URL=http://192.168.12.35/

NEXT_TELEMETRY_DISABLED=1


# Backend
PLATFORM_SITE_NAME="Ashyq Bilim"
PLATFORM_SITE_DESCRIPTION="МООК Платформа Ashyq Bilim."
PLATFORM_CONTACT_EMAIL=contact@cs-mooc.tou.edu.kz

# general
PLATFORM_DEVELOPMENT_MODE=False
PLATFORM_INSTALL_MODE=False

# security
PLATFORM_AUTH_JWT_SECRET_KEY="secret"

# hosting config
PLATFORM_SSL=False
PLATFORM_PORT=9000
PLATFORM_USE_DEFAULT_ORG=False
PLATFORM_ALLOWED_ORIGINS=http://192.168.12.35
PLATFORM_COOKIE_DOMAIN=192.168.12.35
PLATFORM_ALLOWED_REGEXP=^https?://192\.168\.12\.35(:\d+)?$
PLATFORM_SELF_HOSTED=True
PLATFORM_SQL_CONNECTION_STRING=postgresql+psycopg://openu:openu@db:5432/openu
PLATFORM_REDIS_CONNECTION_STRING=redis://redis:6379/openu

PLATFORM_CONTENT_DELIVERY_TYPE="filesystem" # "filesystem" or "s3api"
PLATFORM_S3_API_BUCKET_NAME=""
PLATFORM_S3_API_ENDPOINT_URL=""

# AI
PLATFORM_OPENAI_API_KEY="secret"
PLATFORM_GOOGLE_API_KEY="secret"
PLATFORM_IS_AI_ENABLED=True

# chromadb
PLATFORM_CHROMADB_SEPARATE=True
PLATFORM_CHROMADB_HOST=chromadb

# Mailing config
PLATFORM_RESEND_API_KEY="secret"
PLATFORM_SYSTEM_EMAIL_ADDRESS="contact@cs-mooc.tou.edu.kz"

# stripe
PLATFORM_STRIPE_SECRET_KEY=""
PLATFORM_STRIPE_PUBLISHABLE_KEY=""
PLATFORM_STRIPE_WEBHOOK_STANDARD_SECRET=""
PLATFORM_STRIPE_WEBHOOK_CONNECT_SECRET=""
PLATFORM_STRIPE_CLIENT_ID=""

PLATFORM_LOGFIRE_ENABLED=false

CLOUD_INTERNAL_KEY=""
