# CS MOOC Configuration

# Frontend
NEXT_PUBLIC_OPENU_MULTI_ORG=false
NEXT_PUBLIC_OPENU_DEFAULT_ORG=openu

# Backend URLs
NEXT_PUBLIC_OPENU_API_URL=http://192.168.11.135/api/v1/
NEXT_PUBLIC_OPENU_BACKEND_URL=http://192.168.11.135/
NEXT_PUBLIC_OPENU_DOMAIN=192.168.11.135
NEXT_PUBLIC_OPENU_TOP_DOMAIN=192.168.11.135
NEXT_PUBLIC_OPENU_HTTPS=false

# NextAuth
NEXTAUTH_SECRET="secret"
NEXTAUTH_URL=http://192.168.11.135

# Google OAuth
OPENU_GOOGLE_CLIENT_ID="secret"
OPENU_GOOGLE_CLIENT_SECRET="secret"

NEXT_PUBLIC_UNSPLASH_ACCESS_KEY="secret"

NEXT_PUBLIC_OPENU_MEDIA_URL=http://192.168.11.135/

NEXT_TELEMETRY_DISABLED=1


# Backend
OPENU_SITE_NAME="OpenU"
OPENU_SITE_DESCRIPTION="МООК Платформа OpenU."
OPENU_CONTACT_EMAIL=contact@openu.tou.edu.kz

# general
OPENU_DEVELOPMENT_MODE=False
OPENU_INSTALL_MODE=False

# security
OPENU_AUTH_JWT_SECRET_KEY="secret"

# hosting config
OPENU_SSL=False
OPENU_PORT=9000
OPENU_USE_DEFAULT_ORG=False
OPENU_ALLOWED_ORIGINS=http://192.168.11.135
OPENU_COOKIE_DOMAIN=192.168.11.135
OPENU_ALLOWED_REGEXP=^https?://192\.168\.11\.135(:\d+)?$
OPENU_SELF_HOSTED=True
OPENU_SQL_CONNECTION_STRING=postgresql+psycopg://openu:openu@db:5432/openu
OPENU_REDIS_CONNECTION_STRING=redis://redis:6379/openu

OPENU_CONTENT_DELIVERY_TYPE="filesystem" # "filesystem" or "s3api"
OPENU_S3_API_BUCKET_NAME=""
OPENU_S3_API_ENDPOINT_URL=""

# AI
OPENU_OPENAI_API_KEY="secret"
OPENU_GOOGLE_API_KEY="secret"
OPENU_IS_AI_ENABLED=True

# chromadb
OPENU_CHROMADB_SEPARATE=True
OPENU_CHROMADB_HOST=chromadb

# Mailing config
OPENU_RESEND_API_KEY="secret"
OPENU_SYSTEM_EMAIL_ADDRESS="contact@openu.tou.edu.kz"

# stripe
OPENU_STRIPE_SECRET_KEY=""
OPENU_STRIPE_PUBLISHABLE_KEY=""
OPENU_STRIPE_WEBHOOK_STANDARD_SECRET=""
OPENU_STRIPE_WEBHOOK_CONNECT_SECRET=""
OPENU_STRIPE_CLIENT_ID=""

OPENU_LOGFIRE_ENABLED=false

CLOUD_INTERNAL_KEY=""
