.contentWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.contentWrapper > div:first-child:not(:empty) {
  flex-shrink: 0;
  width: 20%;
  padding-right: 1rem;
}

.contentWrapper > div:last-child {
  flex: 1;
}

.contentWrapper > div:first-child:empty {
  width: 0;
  padding-right: 0;
  overflow: hidden;
}

.contentWrapper > div:first-child:empty + div {
  width: 100%;
}

.contentWrapper :global(.ProseMirror) {
  flex: 1;
  padding: 1rem;
  font-family: var(--font-inter), Inter, system-ui, 'Segoe UI', Arial, sans-serif;
  font-size: 1.1rem;
  color: #222;
  caret-color: transparent;
}

.contentWrapper :global(.ProseMirror h1) {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contentWrapper :global(.ProseMirror h2) {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contentWrapper :global(.ProseMirror h3) {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contentWrapper :global(.ProseMirror h4) {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.contentWrapper :global(.ProseMirror h5) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.contentWrapper :global(.ProseMirror a) {
  color: #2563eb;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease;
}
.contentWrapper :global(.ProseMirror a:hover) {
  color: #1d4ed8;
  text-decoration: none;
}

.contentWrapper :global(.ProseMirror ul),
.contentWrapper :global(.ProseMirror ol) {
  padding: 0 1rem;
  padding-left: 20px;
}
.contentWrapper :global(.ProseMirror ul) {
  list-style-type: disc;
}
.contentWrapper :global(.ProseMirror ol) {
  list-style-type: decimal;
}

.contentWrapper :global(.ProseMirror:focus) {
  outline: none !important;
  outline-style: none !important;
  box-shadow: none !important;
}

.contentWrapper :global(.ProseMirror table) {
  width: 100%;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}
.contentWrapper :global(.ProseMirror table td),
.contentWrapper :global(.ProseMirror table th) {
  position: relative;
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  vertical-align: top;
  border: 1px solid rgba(139, 139, 139, 0.4);
}
.contentWrapper :global(.ProseMirror table td > *),
.contentWrapper :global(.ProseMirror table th > *) {
  margin-bottom: 0;
}
.contentWrapper :global(.ProseMirror table th) {
  font-weight: bold;
  text-align: left;
  background-color: rgba(217, 217, 217, 0.4);
}
.contentWrapper :global(.ProseMirror table .selectedCell:after) {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(139, 139, 139, 0.2);
  content: '';
  pointer-events: none;
}
.contentWrapper :global(.ProseMirror table .column-resize-handle) {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: -2px;
  width: 4px;
  background-color: #8d78eb;
  pointer-events: none;
}

.contentWrapper :global(.ProseMirror pre) {
  padding: 0.75rem 1rem;
  color: #fff;
  font-family: var(--font-jetbrains-mono), monospace;
  background: #0d0d0d;
  border-radius: 0.5rem;
}
.contentWrapper :global(.ProseMirror pre code) {
  padding: 0;
  color: inherit;
  font-size: 0.8rem;
  background: none;
}
.contentWrapper :global(.ProseMirror .hljs-comment),
.contentWrapper :global(.ProseMirror .hljs-quote) {
  color: #616161;
}
.contentWrapper :global(.ProseMirror .hljs-variable),
.contentWrapper :global(.ProseMirror .hljs-template-variable),
.contentWrapper :global(.ProseMirror .hljs-attribute),
.contentWrapper :global(.ProseMirror .hljs-tag),
.contentWrapper :global(.ProseMirror .hljs-name),
.contentWrapper :global(.ProseMirror .hljs-regexp),
.contentWrapper :global(.ProseMirror .hljs-link),
.contentWrapper :global(.ProseMirror .hljs-selector-id),
.contentWrapper :global(.ProseMirror .hljs-selector-class) {
  color: #f98181;
}
.contentWrapper :global(.ProseMirror .hljs-number),
.contentWrapper :global(.ProseMirror .hljs-meta),
.contentWrapper :global(.ProseMirror .hljs-built_in),
.contentWrapper :global(.ProseMirror .hljs-builtin-name),
.contentWrapper :global(.ProseMirror .hljs-literal),
.contentWrapper :global(.ProseMirror .hljs-type),
.contentWrapper :global(.ProseMirror .hljs-params) {
  color: #fbbc88;
}
.contentWrapper :global(.ProseMirror .hljs-string),
.contentWrapper :global(.ProseMirror .hljs-symbol),
.contentWrapper :global(.ProseMirror .hljs-bullet) {
  color: #b9f18d;
}
.contentWrapper :global(.ProseMirror .hljs-title),
.contentWrapper :global(.ProseMirror .hljs-section) {
  color: #faf594;
}
.contentWrapper :global(.ProseMirror .hljs-keyword),
.contentWrapper :global(.ProseMirror .hljs-selector-tag) {
  color: #70cff8;
}
.contentWrapper :global(.ProseMirror .hljs-emphasis) {
  font-style: italic;
}
.contentWrapper :global(.ProseMirror .hljs-strong) {
  font-weight: 700;
}
