OPENU_SITE_NAME="OpenU1"
OPENU_SITE_DESCRIPTION="МООК Платформа OpenU."
OPENU_CONTACT_EMAIL=contact@openu.tou.edu.kz

# general
OPENU_DEVELOPMENT_MODE=True
OPENU_INSTALL_MODE=True

# security
OPENU_AUTH_JWT_SECRET_KEY="secret"

# hosting config
OPENU_DOMAIN=openu.tou.edu.kz
OPENU_SSL=True
OPENU_PORT=1338
OPENU_USE_DEFAULT_ORG=False
OPENU_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
OPENU_COOKIE_DOMAIN=.localhost
OPENU_ALLOWED_REGEXP=\b((?:https?://)[^\s/$.?#].[^\s]*)\b
OPENU_SELF_HOSTED=True
OPENU_SQL_CONNECTION_STRING=postgresql+psycopg://openu:openu@localhost:5432/openu
OPENU_REDIS_CONNECTION_STRING=redis://localhost:6379/openu

OPENU_CONTENT_DELIVERY_TYPE=filesystem # "filesystem" or "s3api"
OPENU_S3_API_BUCKET_NAME=""
OPENU_S3_API_ENDPOINT_URL=""

# AI
OPENU_OPENAI_API_KEY=""
OPENU_GOOGLE_API_KEY=""
OPENU_IS_AI_ENABLED=True

# chromadb
OPENU_CHROMADB_SEPARATE=True
OPENU_CHROMADB_HOST=localhost

# Mailing config
OPENU_RESEND_API_KEY=""
OPENU_SYSTEM_EMAIL_ADDRESS="contact@openu.tou.edu.kz"

# stripe
OPENU_STRIPE_SECRET_KEY=""
OPENU_STRIPE_PUBLISHABLE_KEY=""
OPENU_STRIPE_WEBHOOK_STANDARD_SECRET=""
OPENU_STRIPE_WEBHOOK_CONNECT_SECRET=""
OPENU_STRIPE_CLIENT_ID=""

OPENU_LOGFIRE_ENABLED=false

CLOUD_INTERNAL_KEY=""
